.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  // .header__wrapper
  &__wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
  }

  // .header__container
  &__container {}

  // .header__body
  &__body {
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 125px;
  }

  // .header__main
  &__main {
    display: flex;
    align-items: center;
    flex: 0 0 494/1240 * 100%;
  }

  // .header__logo
  &__logo {}

  // .header__menu
  &__menu {}

  // .header__search
  &__search {}

  // .header__actions
  &__actions {}
}

.menu {

  // .menu__body
  &__body {}

  // .menu__list
  &__list {}

  // .menu__item
  &__item {}

  // .menu__link
  &__link {}

  // .menu__arrow
  &__arrow {}

  // .menu__sub-list
  &__sub-list {}

  // .menu__sub-item
  &__sub-item {}

  // .menu__sub-link
  &__sub-link {}
}

.search-form {

  // .search-form__icon
  &__icon {}

  // .search-form__input
  &__input {}
}

.actions-header {

  // .actions-header__item
  &__item {}

  // .actions-header__item-favorites
  &__item-favorites {}

  // .actions-header__item-user
  &__item-user {}
}

.cart-header {

  // .cart-header__icon
  &__icon {}

  // .cart-header__body
  &__body {}

  // .cart-header__list
  &__list {}
}

.cart-list {}

.icon-menu {}