.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  // .header__wrapper
  &__wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
  }

  // .header__body
  &__body {
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 125px;
  }

  // .header__main
  &__main {
    display: flex;
    align-items: center;
    flex: 0 0 494/1240 * 100%;
  }

  // .header__logo
  &__logo {
    font-size: 24px;
    line-height: 29 / 24 * 100%;
    font-weight: 700;
    color: #000;
  }

  // .header__menu
  &__menu {}

  // .header__search
  &__search {
    @media (min-width:$md2+px) {
      flex: 1 1 auto;
    }
  }

  // .header__actions
  &__actions {}
}

.menu {
  flex: 0 1 420px;

  // .menu__body
  &__body {}

  // .menu__list
  &__list {
    @media (min-width:$md3+px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  // .menu__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin: 0px 3px;
    padding: 5px 0px;

    @media (any-hover: hover) {
      &:hover {
        .menu__sub-list {
          transform: translate(0px, 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }

        .menu__arrow {
          transform: rotate(-180deg);
        }

        .menu__arrow,
        .menu__link {
          color: $orangeColor;
        }
      }
    }

    @media (min-width:$md3+px) {
      &._hover {
        .menu__sub-list {
          transform: translate(0px, 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }

        .menu__arrow {
          transform: rotate(-180deg);
        }

        .menu__arrow,
        .menu__link {
          color: $orangeColor;
        }
      }
    }
  }

  // .menu__link
  &__link {
    font-weight: 500;
    color: inherit;
    transition: color 0.3s ease 0s;
  }

  // .menu__arrow
  &__arrow {
    margin: 0px 0px 0px 8px;

    background-color: #fff;

    font-size: 8px;
    transition: all 0.3s ease 0s;
  }

  // .menu__sub-list
  &__sub-list {
    position: relative;
    flex: 1 1 100%;
    padding: 15px;
    background-color: $orangeColor;

    @media (min-width:$md3+px) {
      min-width: 200px;
      position: absolute;
      left: 0;
      top: 100%;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      transform: translate(0px, 20px);
      transition: all 0.5s ease 0s;
    }
  }

  // .menu__sub-item
  &__sub-item {
    &:not(:last-child) {
      margin: 0px 0px 5px 0px;
    }
  }

  // .menu__sub-link
  &__sub-link {
    line-height: 120%;
    color: #fff;
  }
}


.search-form {
  max-width: 473px;

  // .search-form__icon
  &__icon {
    display: none;
  }

  // .search-form__item
  &__item {
    display: flex;
    align-items: center;

    background-color: #fff;
  }

  // .search-form__btn
  &__btn {
    flex: 0 0 45px;
    height: 45px;
    background-color: #fff;

    font-size: 14px;
    color: #333333;
  }

  // .search-form__input
  &__input {
    width: 100%;

    font-size: 14px;
    color: $darkGrayColor;
  }
}

.actions-header {

  // .actions-header__item
  &__item {}

  // .actions-header__item-favorites
  &__item-favorites {}

  // .actions-header__item-user
  &__item-user {}
}

.cart-header {
  position: relative;
  z-index: 5;
  display: grid;
  // .cart-header__icon
  &__icon {}

  // .cart-header__body
  &__body {}

  // .cart-header__list
  &__list {}
}

.cart-list {}

.icon-menu {}